<h1>Login</h1>
<hr>
<div class="row justify-content-center">
  <div class="col-9">
    <form class="p-4" (ngSubmit)="ingresar()" >
      <input type="text"[(ngModel)]="nombre" name="nombre" class="form-control" autofocus placeholder="Nombre de Usuario">
      <button [disabled]="nombre.trim().length === 0" class="btn btn-primary btn-block margin-top-10">Ingresar</button>
    </form>
  </div>
</div>