<h1>Usuario: <small>{{ws.usuario.nombre}}</small></h1>
<hr>
<div class="row">
  <div class="col-6">
    <app-lista-usuarios></app-lista-usuarios>
  </div>
  <div class="col-6">
    <app-chat></app-chat>
  </div>
</div>